.welcomeImg {
  height: 40%;
  max-height: 300px;
}
.circle-container {
  display: flex;
  gap: 10px;
}
.circle-items {
  background-color: var(--color-secondary-variable-2);
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}
.circle-items-selected {
  background-color: black;
}
